.success {
    background-color: var(--co-dark-green);
}

.success__wrapper {
    padding: 220px 0;
    display: flex;
    justify-content: space-between;
    align-items: start;
    gap: 40px;
    flex-wrap: wrap-reverse;
}

.success__content {
    margin: 50px 0 0 0;
    max-width: 550px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    gap: 20px;
}

.success__title {
    font-size: 50px;
    font-weight: 700;
    color: var(--co-white);
}

.success__desc {
    font-size: 25px;
    font-weight: 600;
    color: var(--co-white);
}

.success__content .btn {
    width: 240px;
    height: 65px;
    margin: 50px 0 0 0;
}

.success__content .btn:hover {
    outline: 2px solid var(--co-white);
}

.success__content-video {
    max-width: 790px;
    height: 455px;
    position: relative;

}

.success__cover {
    width: 100%;
    height: 100%;
    object-fit: cover;
    aspect-ratio: 158/91;
}

@media (max-width:1370px) {
.success__wrapper {
    justify-content: center;
    }
    .success__content {
        text-align: center;
        place-items: center start;
    }
}
@media (max-width:576px) {
.success__wrapper {
    padding: 150px 0;
    }
    .success__title {
    font-size: 32px;
    }

.success__desc {
    font-size: 20px;
    }
    
}
